@font-face
    font-family: "Gilroy"
    src : url("../fonts/Gilroy_regular.otf")
@font-face
    font-family: "GilroyBlack"
    src : url("../fonts/Gilroy_black.otf")
@font-face
    font-family: "GilroyLight"
    src : url("../fonts/Gilroy_light.otf")
