@import "fonts.sass"
@mixin placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
@mixin transition($transition)
    -moz-transition:    $transition
    -o-transition:      $transition
    -webkit-transition: $transition
    transition:         $transition
@mixin transition-delay($transition)
    -moz-transition-delay:    $transition
    -o-transition-delay:      $transition
    -webkit-transition-delay: $transition
    transition-delay:         $transition
@mixin transform($transform)
    -webkit-transform: $transform
    -moz-transform: $transform
    -ms-transform: $transform
    -o-transform: $transform
    transform: $transform
@mixin noselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin: 0
*, *:before, *:after
    margin: 0
    padding: 0
    box-sizing: border-box
input[type='number']
    -moz-appearance: textfield
body
    margin: 0
    font-family: 'GilroyLight'
    &:active,:hover,:focus
        outline: 0
        outline-offset: 0
button
    border: 0
    border-radius: 0
    cursor: pointer
    color: #FFF
    @include transition(0.3s ease all)
ul, li, ol
    margin: 0
    padding: 0
    list-style-type: none
h1,h2,h3,h4,h5,p,a,span,address,li,label,mobbr
    font-size: 0.9em
    margin: 0
    line-height: 1.4
    &::selection
        background-color: #F00
        color: #FFF
    &::-moz-selection
        background-color: #F00
        color: #FFF
h1,h2,h3,h4,h5,p,span,address,li,label,a:not([href]):not([tabindex])
    cursor: default
h2
    font-size: 1.1em
    text-transform: uppercase
.w-100
    width: 100% !important
.h-100
    height: 100% !important
.m-0
    margin: 0 !important
.p-0
    padding: 0 !important
.pr-0
    padding-right: 0 !important
.text-center
    text-align: center !important
.text-right
    text-align: right !important
input[type="text"], textarea
    width: 90%
    background-color: rgba(255, 255, 255, 0.3)
    border: 0
    border-radius: 8px
    padding: 7px 14px
    margin-bottom: 10px
    font-size: 1em
    color: #FFF
    resize: none
    @include placeholder
        color: #FFF
        @include transition(.5s)
    &:focus
        @include placeholder
            opacity: 0
button
    font-size: 1.6em
    font-family: 'GilroyBlack'
    padding: 15px 15px
    border-radius: 8px
    width: 90%
/** menu **/
.menu
    position: fixed
    z-index: 139
    background: #FFF
    width: 100%
    height: 100%
    padding-top: 70px
    text-align: right
    font-family: 'GilroyBlack'
    @include transition(.5s)
    &.hide
        @include transform(translateX(100%))
    a
        display: block
        text-decoration: none
        font-size: 1.6em
        padding: 15px 0
        color: #000
        &.active
            color: #fecc00
    &__links
        padding-bottom: 30px
        &::after
            content: ""
            border-bottom: 1px solid rgba(0, 0, 0, 0.56)
            width: 90%
            position: absolute
            left: 5%
            bottom: 0px
    p
        font-family: 'GilroyLight'
        font-size: 1.5em
        margin-top: 35px
        line-height: 1.8em
        display: block
/** hidden-form **/
.hidden-form
    width: 100%
    height: 100%
    position: fixed
    z-index: 150
    background-color: #000
    color: #FFF
    text-align: center
    @include transition(.5s)
    span
        font-size: 1.1em
        text-transform: uppercase
        margin-bottom: 10px
        display: block
    svg
        @include transform(scale(.5))
        width: 45px
        height: 45px
        margin-left: auto
        display: block
    &.hide
        @include transform(translateX(100%))
    button
        background-color: #FFF
        color: #000
        margin-top: 15px
.success
    /**    margin-top: 35vh */
    width: 100%
    height: 30%
    position: fixed
    z-index: 150
    background-color: #000
    color: #FFF
    text-align: center
    @include transition(.5s)
    &.hide
        @include transform(translateY(-100%))
    h2
        font-size: 2em
.political_par
    text-align: center
    a
        text-decoration-style: dashed
    [type="checkbox"]:checked, [type="checkbox"]:not(:checked)
        position: absolute
        //left: -9999px//
        opacity: 0
    [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label
        position: relative
        padding-left: 17px
        cursor: pointer
        line-height: 10px
        display: inline-block
    [type="checkbox"]:checked + label
        color: #FFF
        font-family: ROBOTO
        a
            color: #FFF
    [type="checkbox"]:not(:checked) + label
        color: #ff0000
        font-family: ROBOTO
        a
            color: #ff0000
    [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before
        content: ''
        position: absolute
        left: 0
        top: 2px
        width: 10px
        height: 10px
        border: 1px solid #ddd
        background: transparent
    [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after
        content: ''
        width: 8px
        height: 8px
        background: #FFF
        position: absolute
        top: 3px
        left: 1px
        @include transition(all 0.2s ease)
    [type="checkbox"]:not(:checked) + label:after
        opacity: 0
        @include transform(scale(0))
    [type="checkbox"]:checked + label:after
        opacity: 1
        @include transform(scale(1))
.header
    box-shadow: rgba(0, 0, 0, 0.67) 0px 3px 11px 0
    background-color: #292929
    padding: 10px 5px
    position: fixed
    z-index: 140
    width: 100%
    .col-auto
        padding: 0 5px
    &__logo
        width: 60px
        vertical-align: middle
    &__link, &__address
        color: #FFF
        text-decoration: none
    &__icon
        height: 11px
    &__burger
        width: 35px
        height: 32px
        margin: auto
        cursor: pointer
        position: relative
        span, &:before, &:after
            width: 100%
            height: 4px
            display: block
            background: #fff
            border-radius: 2px
            position: absolute
            opacity: 1
        &:before, &:after
            transition: top .35s cubic-bezier(.23,1,.32,1),transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1)
            -webkit-transition: top .35s cubic-bezier(.23,1,.32,1),-webkit-transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1)
            content: ""
        &:before
            top: 4px
        span
            top: 15px
        &:after
            top: 26px
        &.cross
            span
                opacity: 0
            &:before, &:after
                top: 40%
            &:before
                @include transform(rotate(45deg))
            &:after
                @include transform(rotate(-45deg))
.afterhead
    background-image: url(../img/afterhead/bg.jpg)
    background-size: auto 100%
    background-position: center center
    text-align: center
    color: #FFF
    h1
        margin-top: 70px
        font-size: 1.1em
        text-transform: uppercase
        line-height: 1.8em
    &__cars
        display: block
        margin-top: 8px
        font-size: 1em
        span
            color: #fecc00
            padding: 0 5px
            font-size: 1.1em
    &__label
        display: block
        font-size: 1em
        margin: 70px 0 10px
    button
        background-color: #FFF
        color: #000
        margin: 15px 0 70px
.diagnostic
    h2
        text-align: center
        margin: 40px 0
    &__ul
        li
            padding: 12px
            font-size: 0.9em
        .active
            color: #FFF
            background-color: #292929
            border-radius: 0 5px 5px 0
    &__info
        position: inherit
        overflow: hidden
        height: 100%
        width: 100%
        background-color: #292929
        border-radius: 5px
        padding: 15px
        img
            @include transition(.5s)
            width: 100%
        .active
            @include transform(translate(200%))
    &__text
        @include transition(.5s)
        margin-top: 5px
        color: #FFF
        font-size: .7em
    &__button
        display: block
        background-color: #000
        color: #FFF
        margin: 50px auto
.advantages
    padding: 50px 0
    background: radial-gradient(50% 35%, #555, #0b0d0d)
    background-size: 100% 100%
    color: #FFF
    text-align: center
    p
        font-size: 1.05em
        small
            font-size: .83em
    img
        height: 150px
        margin: 40px 0
.callback-form
    background: radial-gradient(50% 30%, #555, #282828)
    padding: 40px 0
    margin-top: -5px
    color: #FFF
    text-align: center
    span
        font-size: 1.2em
        text-transform: uppercase
        display: block
        margin-bottom: 40px
    button
        color: #000
        background-color: #FFF
        margin-top: 15px
.carousel-team
    padding: 30px 0 70px
    margin-top: -2px
    background: radial-gradient(50% 30%, #555, #282828)
    text-align: center
    color: #FFF
    h2
        margin: 30px 0
    &__div
        padding: 5px
    &__arrow
        display: inline-block
        height: 50px
        width: 50px
        margin-top: 20px
        background-image: url(../img/icons/arrow.png)
        background-size: auto 65%
        background-repeat: no-repeat
        background-position: 12px center
        border: 2px solid #FFF
        border-radius: 30px
        &.arrow_left
            margin-left: auto
            margin-right: 20px
        &.arrow_right
            margin-right: auto
            margin-left: 20px
            @include transform(rotate(180deg))
    svg
        width: 60px
        height: 60px
.story
    color: #FFF
    padding: 50px 0
    margin-top: -2px
    background: radial-gradient(50% 30%, #555, #282828)
    h2
        text-align: center
        margin-bottom: 30px
    p
        line-height: 1.2
    button
        background-color: transparent
        border: 2px solid #FFF
        font-size: .9em
        font-family: 'GilroyLight'
        margin-top: 20px
        padding: 4px
    .col-6
        padding: 0 5px
.review
    color: #FFF
    padding: 50px 0 70px
    margin-top: -2px
    background: radial-gradient(50% 30%, #555, #282828)
    text-align: center
    &__nocaps
        text-transform: none
        font-style: 1em
    iframe
        margin-top: 20px
.contacts
    border-bottom: 2px solid #000
    text-align: center
    h2
        margin: 30px 0
    span
        display: block
        margin: 5px 0
    &__info
        margin-bottom: 20px !important
    img
        width: 35px
        margin: 30px 10px
.map
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
.footer
    color: #FFF
    text-align: center
    background-color: #000
    padding: 10px 0
    img
        width: 70px
    p
        font-size: .7em
    a
        font-size: .7em
        color: #FFF
        text-decoration: none
        display: block
        line-height: 1.3em
    span
        font-size: 1em
        color: red

/** other pages **/
html, body
    min-height: 100vh
.callback-service
    span
        font-size: 1.3em
.callback-spares
    span
        font-size: 1.15em
.callback-spares, .callback-service
    min-height: 100vh
    width: 100%
    background: radial-gradient(50% 30%, #555, #282828)
    padding: 40px 0 0
    text-align: center
    color: #FFF
    .container
        height: 100vh
    a
        color: #FFF
        margin-top: 20px
    button
        display: block
        margin: 15px auto
        background-color: #FFF
        color: #000
    span
        display: block
        text-transform: uppercase
        margin: 0px 0 20px
.legal
    padding: 80px 0
    a
        color: #000
        display: block
        text-align: center
        margin: 20px auto
